{% extends 'layout(mainp).html' %}
{% block content %}

<!--<style type="text/css">
    body {background-image: url(/static/img/bqzmj600.jpg);background-attachment:fixed; background-repeat:no-repeat;background-position:center;}
</style>-->

<body>
   <div class="container" style="height:500px">
        <div class="row">
            <div class="span12">
<img src="/static/img/bqzmj.jpg">

</body>

                <a class="btn btn-info" href="/question/new" style="width:100px""position:center">回上页</a>
                <hr class="soften"/> 
                <p style="color:grey" align="center">Copyright ©2012 offerduoduo.com. All rights reserved | 京ICP 证000000号| 文化部监督电子邮箱：wlwh@vip.sina.com </p>


{% endblock%}
