{% extends 'layout.html' %}

{% block content %}

<form class="well span8 offset2" action="{{ url_for('question.new') }}" method='post'>
    {% from 'import/tools.html' import flashed_msg,error %}

    <h3 class="alert alert-info">提问</h3>

    {{ form.hidden_tag() }}
    {{ form.csrf }}

    {{ form.title.label }}
    {{ form.title(style="width:490px;height:21px") }}
    {{ error(form.errors['title']) }}
    
    <span class="help-block">问题的主题</span>

    {{ form.content.label }}
    {{ form.content(style="width:490px",rows=10,cols=10) }}
    {{ error(form.errors['content']) }}
    <span class="help-block">问题的详细内容</span>

    {{ form.tags.label }}
    {{ form.tags(id='tag-search') }}
    {{ error(form.errors['tags']) }}
    <div class="help-block" sytle="width:500px height:31px" >
        请给您的提问加上详尽的label；好的label例如:
        <span class="tag label label-warning">University of Chicago</span>
        <span class="tag label label-warning">化学</span>
        
    </div>
    <p>
        <a id="hat-toggle" href="javascript:;">怎么添加好的label+</a>
        <img id="hat" class="hide" src="{{ url_for('static', filename='img/how_add_tag.jpg') }}" />    
    </p>
    <hr>
    
    <input class="btn btn-primary" type="submit" value="发布"/>
</form>

<script>
        $(function(){
            textbox({
                element: '#tag-search',
                placeholder: '搜索：标签',
                url: "{{ url_for('tag.obj') }}",
                format: tag_format
            });

            $('#hat-toggle').click(function(){
                $('#hat').toggle();
            });
        })
</script>


{% endblock %}
