{% extends 'layout-mainp.html' %}
{% block help%}
<head>   
    <style type="text/css">
        a{color:white;}
        #email {
            font-family:"times new roman";
            font-size:25px;
            color:white;
            position:absolute; top:42.5%;left:44%;}
        #qq{position:absolute;top:51.5%;left:45%}
 #bg {
                    position:absolute; top:6.1%;left:15.2%;}

    </style>
</head>
<body>
    <div class="container">
        <div class="span12">
 <div id="bg"><img src="/static/img/intro-picture/bgyj.jpg"></div>
       
            <div id="email" ><a href="mailto:offerduoduo@sina.com?subject=comments"     style="font-color:white">offerduoduo@sina.com</a></div>
            <div id="qq"> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1935168600&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1935168600:41 &r=0.6172033315524459" alt="Offer多多期待您的建议" title="Offer多多期待您的建议"></a></div>
      
        </div>
    </div>
</body>
{% endblock%}
