{% extends 'layout.html' %}

{% block content %}

{% from 'import/tag.html' import tag_box %}
<section class="span12">
    <h3 class="alert alert-info">发现，关注，参与</h3>
</section>

<section class="span3">
<h3 class="alert alert-success">国家地区</h3>
{% set country_tags = ['美国','加拿大','英国','香港','波士顿','洛杉矶','纽约','芝加哥','Chicago','boston','los angeles','new york','澳大利亚','新西兰','sydney'] %}
{% for t in getter.get_tag_by_tags(country_tags) %}
{{ tag_box(t, current_user) }}
{% endfor %}
</section>

<section class="span3">
<h3 class="alert alert-warning">学校</h3>
{% set school_tags = ['university of sydney','imperial college london','New York University(NYU)','university of chicago','harvard university','columbia university','Michigan State University','University of Illinois--Urbana-Champaign(UIUC)','University of Wisconsin--Madison(UWM)'] %}
{% for t in getter.get_tag_by_tags(school_tags) %}
{{ tag_box(t, current_user) }}
{% endfor %}
</section>

<section class="span3">
<h3 class="alert alert-warning">专业</h3>
{% set major_tags = ['药学','化学工程','电子工程','统计学','化工','物理','生物','数学','计算机','经济','商学','统计','EE','工程学','语言课程'] %}
{% for t in getter.get_tag_by_tags(major_tags) %}
{{ tag_box(t, current_user) }}
{% endfor %}
</section>

<section class="span3">
<h3 class="alert alert-error">热门话题</h3>
{% set hot_tags = ['united airlines','行前准备','Tofel','gre','gmat','机票','打包','房','美国签证','美国生活'] %}
{% for t in getter.get_tag_by_tags(hot_tags) %}
{{ tag_box(t, current_user) }}
{% endfor %}
</section>


<div class="span12">
    <hr/>
    <h5>更多label请进行搜索：</h5>
    {% from 'import/tools.html' import search %}
    {{ search('guide-tip-form', 'plain-form') }}
    <hr/>
</div>
<a class="btn btn-info btn-large span6 offset3" href="{{ url_for('user.home') }}">-->进入主页</a>
{% endblock%}
