{% extends 'layout-main.html' %}
{% block content %}

<style type="text/css">
          #email {
                font-family:"times new roman";
                 font-size:25px;
                   color:white;
                    position:absolute; top:50%;left:43%;}

      

</style>


<body>
	<div class="container">	
		<div><img src="/static/img/intro-picture/jrwm.jpg";/></div>

		<div id="email" ><a href="mailto:offerduoduo@sina.com?subject=comments" style="font-color:white">offerduoduo@sina.com</a></div>
	</div>
</body>


{% endblock%}
