{% extends 'layout.html' %}

{% block content %}

    <div id="intro-slide" class="span8 carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <img src="/static/img/intro-picture/1.jpg" alt="">
                <div class="carousel-caption hide">
                    <p>page 1/8      Offerduoduo.com 使用攻略-版权所有</p>
                </div>
            </div>

            <div class="item">
                <img src="/static/img/intro-picture/2.jpg" alt="">
                <div class="carousel-caption hide">
                    <p>page 2/8      为什么我们需要新的信息获取模式</p>
                </div>
            </div>

            <div class="item">
                <img src="/static/img/intro-picture/3.jpg" alt="">
                <div class="carousel-caption hide">
                    <p>page 3/8      关注标签后系统推送相关信息</p>
                </div>
            </div>

            <div class="item">
                <img src="/static/img/intro-picture/4.jpg" alt="">
                <div class="carousel-caption hide">
                    <p>page 4/8       用户答案打分排名系统</p>
                </div>
            </div>

            <div class="item">
                <img src="/static/img/intro-picture/5.jpg" alt="">
                <div class="carousel-caption hide">
                    <p>page 5/8       常见的操作模式，尊重用户习惯</p>
                </div>
            </div>

            <div class="item">
                <img src="/static/img/intro-picture/6.jpg" alt="">
                <div class="carousel-caption hide">
                    <p>page 6/8      自由建立标签，自主决定讨论内容</p>
                </div>
            </div>

            <div class="item">
                <img src="/static/img/intro-picture/7.jpg" alt="">
                <div class="carousel-caption hide">
                    <p>page 7/8      更多精彩内容待你发现</p>
                </div>
            </div>

            <div class="item">
                <img src="/static/img/intro-picture/8.jpg" alt="">
                <div class="carousel-caption hide">
                    <p>page 8/8      赶快注册吧！~</p>
                </div>
            </div>
        </div>
        <a class="left carousel-control hide" href="#intro-slide" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control hide" href="#intro-slide" data-slide="next">&rsaquo;</a>
        <script>
            $('#intro-slide').hover(function(){
                $('.carousel-control', this).fadeIn('fast');
            }, function(){
                $('.carousel-control', this).fadeOut('fast');
            })
            $('#intro-slide').hover(function(){
                $('.carousel-caption', this).fadeIn('fast');
            }, function(){
                $('.carousel-caption', this).fadeOut('fast');
            })
        </script>
    </div>

    <div class="span4">

        <a href="{{ url_for('general.poster') }}">
            <img src="/static/img/intro-picture/log.jpg" alt="">
        </a>

        <hr>
        <a href="{{ url_for('general.register') }}" class="btn btn-primary btn-large" style="width:90%">
            <h1>注&#8194&#8194&#8194册</h1>
        </a>  

        <hr>

        <form class="well" action="{{ url_for('general.login') }}" method="post">

        {% from 'import/tools.html' import flashed_msg,error %}
        {{ flashed_msg() }}
    
        {{ form.hidden_tag() }}
        {{ form.csrf }}
    
        {{ form.email(class="span3",type="text",style="height:30px; width:255px" ,placeholder="填入注册邮箱" ) }} 
        {{ error(form.errors['email']) }}
        
        {{ form.passwd(class="span3",type="password",style="height:30px;  width:255px",placeholder="填入注册密码") }} 
        {{ error(form.errors['passwd']) }}
    
        <label></label>
                   
        <input type="submit" value="登录" class="btn pull-right" style="width:80px">

 	{{ form.auto() }} 
    	{{ form.auto.label(style='display:inline-block')  }}

        </form>

    </div>

{% endblock %}    
