{% extends 'layout.html' %}

{% block content %}

{% from 'import/tools.html' import textbox_css_js %}
{{ textbox_css_js() }}

<form class="well span8 offset2 resource-form" action="{{ url_for('resource.new') }}" method='post' enctype="multipart/form-data">
    {% from 'import/tools.html' import flashed_msg,error %}

    <h3 class="alert alert-info">传资源</h3>

    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    {{ form.title.label }}
    {{ form.title(class="text") }}
    {{ error(form.errors['title']) }}
    <span class="help-block">资源的主题</span>

    <label>文件 *</label>
    <input name="files" type="file" multiple>
    {{ error(form.errors['files']) }}
    <span class="help-block">资源文件，可选择多个文件，总大小不能多于8M</span>

    {{ form.desc.label }}
    {{ form.desc(rows=10) }}
    {{ error(form.errors['desc']) }}
    <span class="help-block">资源的详细介绍</span>

    {{ form.tags.label }}
    {{ form.tags(class='tag-search') }}
    {{ error(form.errors['tags']) }}
   
    <hr>
    <input class="submit btn btn-primary" type="submit" value="上传"/>
</form>
{% endblock %}
