<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Offer多多</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='bootstrap/less/custom.less') }}">

        <script src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.form.js') }}"></script>
        <script src="{{ url_for('static', filename='less-1.3.0.min.js') }}" ></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" ></script>
        <script src="{{ url_for('static', filename='bootstrap-typeahead-custom.js') }}" ></script>

        <script src="{{ url_for('static', filename='custom.js') }}"></script>

    </head>

    <body>
        <article style="padding-top:40px">

        <header id="article-header" class="navbar navbar-fixed-top">  		
	<div class="navbar-inner">
            <div class="container">
                <a class="nav pull-left" href="{{ url_for('general.index') }}">
                    <img src="{{ url_for('static', filename='img/logo.jpg') }}" height="34px">
                </a>
                {% if current_user and current_user.is_authenticated() %}

                    {% from 'import/tools.html' import nav, account, search, iwant, reminds %}

                    {% block nav %}{{ nav('', current_user) }}{% endblock %}
                
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li><a href="{{ url_for('question.new') }}">提问</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="{{ url_for('resource.new') }}">传资源</a></li>
                        <li class="divider-vertical"></li>
                        {{ reminds() }}
                        {{ account(current_user) }}
                    </ul>

                    <ul class="nav" style="float:right">
                        <li class="dropdown">
                        {{ search('navbar-tip-form', 'navbar-search') }}
                        </li>
                    </ul>

                {% else %}
                
                <ul class="nav pull-right">
                    <li class="navbar-text">
                    版本：Beta-1.1
                    <li class="icon-ok"></li
                    {#
                    留学领域的社交问答
                    <span class="label label-important">Hot</span>
                    #}
                    </li>
                </ul>
                
                {% endif %}
            </div>
        </div>
        </header>

        <section id="article-top">
            {% block top %}{% endblock %}
        </section>

        <section id="article-content" class="container">
            {% block head %}
            <header>
            {% from 'import/tools.html' import flashed_msg %}
            {{ flashed_msg() }}
            </header>
            {% endblock %}

            <div class="row">
                {% block content %}
                <div class="span12">
                    {% block row %}
                    {% endblock %}
                </div>
                {% endblock %}
            </div>

        </section>
        
        
        <footer id="aticle-footer" class="container">
        <hr>
            <div class="small clearfix">
            <span class="pull-left">offerduoduo.com © 2012 </span>
            <ul class="pull-right">
                <a href="{{ url_for('general.help') }}">帮助</a>
                | <a href="{{ url_for('general.advice') }}">宝贵意见</a>
                | <a href="{{ url_for('general.aboutus') }}">关于我们 </a>
                | <a href="{{ url_for('general.joinus') }}">加入我们 </a>
            </ul>
            </div>
            <p class="small">
                京ICP备12026711号 · 文化部监督电子邮箱：wlwh@vip.sina.com 
            </p>
            <br>
        </footer>

        </article>
    </body>
</html>
