{% macro resource_box(r, current_user) %}

<section id="resource-{{ r.id }}" class="resource thumbnail">
        <header>
            <a class="title" href="{{ url_for('resource.index', id=r.id) }}"><h4>{{ r.title }}</h4></a>
            <p>
            来自：
            {% for tag in r.tags %}
            <a class="tag" href="{{ url_for('tag.index', tag=tag.tag) }}">
                <span class="label label-warning">{{ tag.tag }}</span>
            </a>
            {% endfor %}
            </p>
       </header>
        
       <footer>
           <span class="small">{{ r.create_time }}</span>
            <span class="small pull-right">下载量：{{ r.download_count }}</span>
        </footer>
</section>

{% endmacro %}

{% macro normal_comment(a, current_user) %}
<section id="comments-{{ a.id }}" class="comments">
{% for c in a.comments %}
<div id="comment-{{ c.id }}" class="comment clearfix">
    <img class="size-20 pull-left" src="{{ c.user.photo_url(20) }}" />
    <div class="pull-left">
        <p>
        <a class="nickname" href="{{ url_for('user.index', nickname=c.user.nickname) }}">{{ c.user.nickname }}</a>
        ：<code>{{ c.content }}</code>
        </p>
        <p>
        <small>{{ c.create_time }}</small>
        <a class="reply" href="javascript:;">回复</a>
        </p>
    </div>
</div>
<hr>
{% endfor %}

<div class="clearfix">
    <img class="size-20 pull-left" src="{{ current_user.photo_url(20) }}" />
    <form class="comment-form form-inline">
        <input name="answer_id" type="hidden" value="{{ a.id }}">
        <input name="comment_id" type="hidden" value="-1">
        <input name="content" type="text">
        <input type="submit" value="评论">
    </form>
</div>
</section>
{% endmacro %}

{% macro normal_answer(a, current_user) %}
<section id="answer-{{ a.id }}" class="answer">
    <div class="vote3" data-id="{{ a.id }}">
        <span class="up">{{ a.score }}</span>
        <button class="good">好</button>
    </div>
    <div class="vote4" data-id="{{ a.id }}">
        <span class="up">{{ a.score }}</span>
        <button class="bad">差</button>
    </div>
    <pre>{{ a.content }}</pre>
    
    <blockquote class="simple-quote">
        <small>
            <a href="{{ url_for('user.index', nickname=a.user.nickname) }}">
                <img class="size-20" src="{{ a.user.photo_url(20) }}" />
                {{ a.user.nickname }}
            </a> 
        </small>
    </blockquote>
    
    <footer>
        <a href="javascript:;" data-toggle="collapse" data-target="#comments-collapse-{{ a.id }}">
        {% set count = a.comments|length %}
        {% if count %}
            {{ count }}条评论
        {% else %}
            评论
        {% endif %}
        </a>
    
        <span class="pull-right small">{{ a.create_time }}</span>
    
        <div id="comments-collapse-{{ a.id }}" class="collapse" style="margin-top:5px;height: 0px;">
            <hr>
            {{ normal_comment(a, current_user) }}
        </div>
    </footer>
</section>
{% endmacro %}


{% macro normal_resource(r, current_user) %}
<section id="resource-{{ r.id }}" class="resource">
    <header>
        <h2>{{ r.title }}</h2>
        <hr>
        {% from 'import/tag.html' import tag_editor %}
        {{ tag_editor(r.tags, url_for('resource.tags', id=r.id)) }}
    </header>
    
    <hr>
        
    <pre>{{ r.desc }}</pre>

    <blockquote class="simple-quote">
        <small>
            <a href="{{ url_for('user.index', nickname=r.user.nickname) }}">
                <img class="size-20" src="{{ r.user.photo_url(20) }}" />
                {{ r.user.nickname }}
            </a>
        </small>
    </blockquote>

    <footer>
        &nbsp
        <span class="small pull-right">{{ r.create_time }}</span>
    </footer>
</section>

{% endmacro %}

{% macro download_box(r) %}
<ul class="span3">
    {% for f in r.file_list %}
    <li class="small">{{ f.name }}</li>
    {% endfor %}
</ul>

<span class="divider-vertical"></span>

<a class="btn btn-large download" href="{{ r.zip_url() }}" data-url="{{ url_for('resource.download', id=r.id) }}">
    <h2>下载全部</h2>
    <span class="small">zip压缩包</span>
</a>

<script>
    $(function(){
        $('.download').click(function(){
            url = $(this).attr('data-url');
            href = $(this).attr('href');
            $.post(url, function(){
                location.href = href;
            });
            return false;
        });
    });
</script> 
{% endmacro %}


