{% macro tag_info(tag, has_followed) %}
<section class="tag-info span12">

<div class="editable span1 offset0" style="position:relative;">
    <div class="edited">
        <img class="size-90 pull-left" src="{{ tag.tag_photo_url(90) }}" />
        <a class="tag-photo-edit edit small" href="javascript:;"><i class="icon-pencil"></i> 修改</a>
    </div>
    <form class="tag-photo-form edit-form" action="{{ url_for('tag.photo', id=tag.id) }}" method="post">
        <input name="tag_photo" type="file" />
        <label></label>
        <input type="submit" value="修改" />
        <a class="edit-cancel small" href="javascript:;">取消</a>
    </form>
</div>

<blockquote class="simple-quote span9">
    <h2 class="tag-tag">{{ tag.tag }}</h2>
    <div class="editable">
        <small class="edited">
            &nbsp
            <span class="edited-item">{{ tag.description }}</span>
            <a class="edit small" href="javascript:;"><i class="icon-pencil"></i> 修改</a>
        </small>
        <form class="edit-form" action="{{ url_for('tag.desc', id=tag.id) }}" method="post">
            <textarea class="edit-item" style="width:500px;height:31px" name="desc"></textarea>
            <input type="submit" value="修改" />
            <a class="edit-cancel small" href="javascript:;">取消</a>
        </form>
    </div>
</blockquote>

<button class="unfollow span2 btn btn-danger {{ 'hide' if not has_followed  }}" data-tag="{{ tag.tag }}">取消关注</button>
<button class="follow span2 btn btn-info {{ 'hide' if has_followed  }}" data-tag="{{ tag.tag }}">关注</button>
</section>

{% endmacro %}

{% macro tag_box(tag, current_user) %}
<section class="tag-box thumbnail">
{% if current_user.tag_is_followed(tag.tag) %}
<span class="has-follow follow-button label label-warning">已关注</span>
{% else %}
<button class="only-follow follow-button btn btn-info btn-mini hide" data-tag="{{ tag.tag }}">关注</button>
<span class="has-follow follow-button label label-warning hide">已关注</span>
{% endif %}
<img class="size-90" src="{{ tag.tag_photo_url(90) }}" /> 
<hr class="hr-tiny">
<a href="{{ url_for('tag.index', tag=tag.tag) }}"><h5 class="text-center">{{ tag.tag }}</h5></a>
</section>

{% endmacro %}

{% macro tag_editor(tags, action) %}

{% from 'import/tools.html' import textbox_css_js %}
{{ textbox_css_js() }}

<div class="editable">
    <p class="edited">
    来自：
    {% for tag in tags %}
    <a class="tag" href="{{ url_for('tag.index', tag=tag.tag) }}">
        <span class="label label-warning">{{ tag.tag }}</span>
    </a>
    {% endfor %}
    
    <a href="javascript:;" class="tag-edit edit small"><i class="icon-pencil"></i> 修改</a>
    </p>

    <form class="tag-edit-form edit-form" action="{{ action }}" method="post" style="margin:5px 0px 10px 0px">
        <input class="edit-item" name="tags" type="text" />
        <a class="edit-cancel small" href="javascript:;">取消</a>
    </form>
<div>

<script>
$(function(){
    var t = null;

    $('.tag-edit').click(function(){
        if(t) return;
        var edited = $(this).parents('.edited');
        var edit_item = edited.siblings('.edit-form').children('.edit-item');
        var tag_spans = $(this).siblings('.tag').children('span');

        var tags = [];
        $.each(tag_spans, function(i,span){
            var tag = span.innerHTML;
            tags.push([tag, tag]);
        });

        t = tag_search(edit_item, tags, true);
    });

    $('.tag-edit-form').ajaxForm({
        error: fail, 
        success: function(data){
            success(data);
        }
    });

});
</script>
 
{% endmacro %}
