{% macro flashed_msg() %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="alert {{ 'alert-'+category }}">
            <a class="close" data-dismiss="alert">x</a>
            {{ message }}
        </div>    
    {% endfor %}
{% endwith %}

{% endmacro %}

{% macro error(msg, class='') %}
    {% if msg %} 
    <span class="{{ class }} help-inline label label-important">
        {{ msg[0] }}
    </span> 
    {% endif %}
{% endmacro %}

{% macro search(id='', class='') %}
<form id="{{ id }}" class="{{ class }} tip-form" action="{{ url_for('search.index') }}" method="get">
    <img class="search-img" src="{{ url_for('static', filename='img/search.png') }}" />
    <input class="tip-search" name="query" type="text" autocomplete="off" placeholder="搜索 label，问题，资源" />
</form>
{% endmacro %}

{% macro account(current_user) %}
<li class="dropdown auto-down">
    <a href="{{ url_for('user.home')}}" class="dropdown-toggle" data-toggle="dropdown">
        [{{ current_user.nickname }}]
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('user.profile') }}">个人信息</a></li>
        <li><a href="{{ url_for('general.logout') }}">注销</a></li>
    </ul>
</li>
{% endmacro %}


{% macro reminds() %}
<li class="dropdown auto-down">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        提醒
    </a>
    
    <ul id="reminds" class="dropdown-menu">
        <li><a>暂无消息</a></li> 
    </ul>
</li>

<script>
    $(function(){
        function load_reminds(){
            if($('#reminds .remind').length){
                dropdown = $('#reminds').parents('.dropdown');
                if(!dropdown.hasClass('open')) 
                    dropdown.addClass('open');
                return;
            }

            $.ajax({
                url: "{{ url_for('resremind.index') }}",
                success: function(data){
                    show_reminds(data);
                    //setTimeout(load_reminds, 10000);
                },
                complete: function(){
                    //setTimeout(load_reminds, 10000);
                }
            });
        }

        function show_reminds(data){
            if(!data.reminds.length) return;

            $('#reminds').siblings('a').addClass('label label-info')
            $('#reminds').empty();
            $.each(data.reminds,function(i,r){
                switch(r.type){
                case 'answer':
                    title = '答案';
                    content = r.answer;
                    break;
                case 'comment':
                    title = '评论';
                    content = r.comment;
                    break;
                default:
                    return;
                }
                
                row = '<li><a class="remind" href="/remind/read?id='
                        +r.id+'" style="color:#999">问题<span style="color:#7a43b6">'
                        +r.question+'...</span>有了新的'
                        +title+'<span style="color:#7a43b6">'
                        +content+'...</span></a></li>';
                $('#reminds').append(row);
            })

            $('#reminds').parents('.dropdown').addClass('open');
        }
        
        setTimeout(load_reminds, 5000);
        setInterval(load_reminds, 10000);
    })
</script>
{% endmacro %}


{% macro nav(item, current_user) %}
<ul class="nav">
    <li class="{{ 'active' if item=='user' }}">
    <a href="{{ url_for('user.home') }}">主页</a> 
    </li>
    <li class="{{ 'active' if item=='question' }}">
    <a href="{{ url_for('question.list') }}">问题</a> 
    </li>
    <li class="{{ 'active' if item=='resource' }}">
    <a href="{{ url_for('resource.list') }}">资源</a> 
    </li>
</ul>
{% endmacro %}

{% macro textbox_css_js() %}

<link rel="stylesheet" href="{{ url_for('static', filename='textboxlist/TextboxList.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='textboxlist/TextboxList.Autocomplete.css') }}"/>

<script src="{{ url_for('static', filename='textboxlist/GrowingInput.js') }}" ></script>
<script src="{{ url_for('static', filename='textboxlist/TextboxList.js') }}" ></script>
<script src="{{ url_for('static', filename='textboxlist/TextboxList.Autocomplete.js') }}" ></script>
<script src="{{ url_for('static', filename='textboxlist/TextboxList.Autocomplete.Custom.js') }}" ></script>

<script>
    $(function(){
        
    });
</script>
 
{% endmacro %}
