{% macro question_box(q, current_user) %}
<section id="question-{{ q.id }}" class="question {{ 'focus' if focus }} thumbnail">
<header>
    <a class="title" href="{{ url_for('question.index', id=q.id) }}"><h4>{{ q.title }}</h4></a>
    <p>
        来自：
        {% for tag in q.tags %}
        <a class="tag" href="{{ url_for('tag.index', tag=tag.tag) }}">
            <span class="label label-warning">{{ tag.tag }}</span>
        </a>
        {% endfor %}
    </p>
</header>

<footer>
    <span class="small">{{ q.create_time }}</span>
    <a class="pull-right" href="{{ url_for('question.index', id=q.id) }}">
        {{ q.answer_count }}个答案
    </a>
</footer>

</section>
{% endmacro %}

{% macro normal_comment(a, current_user) %}
<section id="comments-{{ a.id }}" class="comments thumbnail">
{% for c in a.comments %}
<div id="comment-{{ c.id }}" class="comment clearfix">
    <img class="pull-left" src="{{ url_for('static', filename=c.user.photo(20)) }}" />
    <div class="pull-left">
        <p>
        <a class="nickname" href="{{ url_for('user.index', nickname=c.user.nickname) }}">{{ c.user.nickname }}</a>
        ：{{ c.content }}
        </p>
        <p>
        <small>{{ c.create_time }}</small>
        <a class="reply" href="javascript:;">回复</a>
        </p>
    </div>
</div>
<hr>
{% endfor %}

<div class="clearfix">
    <img class="pull-left" src="{{ url_for('static', filename=current_user.photo(20)) }}" />
    <form class="comment-form form-inline">
        <input name="answer_id" type="hidden" value="{{ a.id }}">
        <input name="comment_id" type="hidden" value="-1">
        <input name="content" type="text">
        <input type="submit" value="评论">
    </form>
</div>
</section>
{% endmacro %}

{% macro normal_answer(a, current_user) %}
<section id="answer-{{ a.id }}" class="answer thumbnail">
<div id="up-{{ a.id }}" class="up thumbnail">
    <span>{{ a.up }}</span>
    <button>顶</button>
</div>

<blockquote>
    <p>{{ a.content }}</p>
    <small>
        <a href="{{ url_for('user.index', nickname=a.user.nickname) }}">
            <img src="{{ url_for('static', filename=a.user.photo(20)) }}" />
            {{ a.user.nickname }}
        </a> 
    </small>
</blockquote>
<footer>
<a href="javascript:;" data-toggle="collapse" data-target="#comments-collapse-{{ a.id }}">
    {% set count = a.comments|length %}
    {% if count %}
    {{ count }}条评论
    {% else %}
    评论
    {% endif %}
</a>
<span class="pull-right small">{{ a.create_time }}</span>
<div id="comments-collapse-{{ a.id }}" class="collapse" style="margin-top:5px;height: 0px;">
    {{ normal_comment(a, current_user) }}
</div>
</footer>
</section>
{% endmacro %}

{% macro question_detail(q, current_user) %}
<section id="question-{{ q.id }}" class="question thumbnail">
<header>
    <a class="title" href="{{ url_for('question.index', id=q.id) }}"><h4>{{ q.title }}</h4></a>
    <div class="editable">
        <p class="edited">
        来自：
        {% for tag in q.tags %}
        <a class="tag" href="{{ url_for('tag.index', tag=tag.tag) }}">
            <span class="label label-warning">{{ tag.tag }}</span>
        </a>
        {% endfor %}
        
        <a href="javascript:;" class="question-tag-edit edit small">修改</a>
        </p>
        <form class="edit-form" action="{{ url_for('question.tags', id=q.id) }}" method="post" style="margin:5px 0px 10px 0px">
            <input class="edit-item" name="tags" type="text" />
            <a class="edit-cancel small" href="javascript:;">取消</a>
        </form>
        <script>
        $(function(){
            var t = null;
            $('.question-tag-edit').click(function(){
                if(t) return;
                var edited = $(this).parents('.edited');
                var edit_item = edited.siblings('.edit-form').children('.edit-item');
                var tag_spans = $(this).siblings('.tag').children('span');

                var tags = [];
                $.each(tag_spans, function(i,span){
                    var tag = span.innerHTML;
                    tags.push([tag, tag]);
                });

                t = textbox({
                    element: edit_item, 
                    placeholder: '搜索：标签',
                    init_values: tags,  
                    empty_submit: true,
                    url: "{{ url_for('tag.obj') }}",
                    format: tag_format,
                    focus: true  
                });
            });
        });
        </script>
    </header>

<blockquote>
    <p>{{ q.content }}</p>
    <small>
        <a href="{{ url_for('user.index', nickname=q.user.nickname) }}">
            <img src="{{ url_for('static', filename=q.user.photo(20)) }}" />
            {{ q.user.nickname }}
        </a>
    </small>
</blockquote>

<footer>
&nbsp
<span class="small pull-right">{{ q.create_time }}</span>
</footer>

</section>
{% endmacro %}
